$font-family-sans-serif: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$headings-font-weight: 700 !default;

$breadcrumb-separator: ">" !default;

$icon-font-path: "/fonts/bootstrap/";
$fa-font-path:   "/fonts/fontawesome/";

@import "bootstrap";
@import "font-awesome";

/* app.css */

body {
    //font-family: Verdana, sans-serif;
    margin: 0 10%;
}

.breadcrumb {
    > li {
        + li:before {
            content: "#{$breadcrumb-separator}" !important;
        }
    }
}

//*
.editable {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  padding: 6px 12px;
}
// */
